/*h1 {
  background-color: aqua;
  padding-left: 10px;
  padding-bottom: 4px;
  padding-right: 19px;
  padding-top: 25px;
  height: 200px;
  width: 150px;
}
p {
  background-color: aquamarine;
  padding: 10px;
  display: flex;
}
span {
  background-color: bisque;
}
.head {
  background-color: black;
}
*/
